<!DOCTYPE html>
<html>
    <head>
        <title>Slido</title>
        <link rel="stylesheet" href="http://localhost:3000/style/main.css" />
    </head>
    <body>
        <base href="/"/>
        <div id="app"><div><%- markup %></div></div>
        <script src="http://localhost:3000/build.js"></script>
    </body>
</html>