$primary-color: #212738;
$secondary-color: #0ecff0;
$tertiary-color: #ffffff;
$additional-color: #fb5658;

$grid-columns: 12;
$grid-max-width: 65em;
$breakpoint-small: "only screen and (min-width: 600px)";
$breakpoint-medium: "only screen and (min-width: 1200px)";

$base-font-size: 1em;
$base-font-color: #fafafa;
$base-font-family: 'Open Sans', sans-serif;

$header-height: 120px;