.create-button-wrapper {
  position: absolute;
  bottom: 50px;
  right: 50px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  background-color: $secondary-color;
  border: none;
  border-radius: 50%;
  .create-button {
    color: white;
    height: 100px;
    width: 100px;
    box-sizing: content-box;
    cursor: pointer;
    outline: none;
    padding: 0;
    pointer-events: auto;
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
    -webkit-transition: -webkit-transform 150ms cubic-bezier(.4, 0, 1, 1);
    transition: transform 150ms cubic-bezier(.4, 0, 1, 1);
    object-fit: cover;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    font-family: inherit;
    font-size: 2em;
    font-weight: bold;
    img {
      padding: 26px;
    }
    &:hover {
      transform: scale(1) rotate(180deg);
    }
    &:active {
      transform: scale(0.95) rotate(180deg);
    }
  }
  &:active {
    box-shadow: 0 0 1px rgba(0, 0, 0, .34), 0 3px 6px rgba(0, 0, 0, .28);
  }
}